body {
    background-image: url('galaxy.jpg');
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    letter-spacing: 10px;
    font-size: 100px;
    margin-top: 100px;
    color: rgb(41, 152, 226);

    text-shadow: 0 0 5px rgba(15, 139, 221, 0.5),
        0 0 15px rgb(1, 114, 189),
        0 0 30px rgb(0, 153, 255);
}

p {
    font-family: "Varela Round", sans-serif;
    font-size: 25px;
}

.navigation-box {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    width: 50%;

    font-family: "Varela Round", sans-serif;
    background-color: rgb(41, 152, 226);
    color: black;
    font-size: 20px;
    border-radius: 5px;

    cursor: pointer;
    margin-left: 20px;
}