body {
    background-color: black;
}

h1 {
    margin-top: 5%;
    text-align: center;
    font-size: 70px;
    font-family: "Belanosima", sans-serif;  
    color: rgb(78, 179, 78);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email {
    font-size: 25px;
    display: block;
    text-align: center;
    color: white;
}

.password {
    font-size: 25px;
    display: block;
    text-align: center;
    color: white;
}

.text {
    font-size: 20px;
    display: block;
    text-align: center;
    color: black;
}

.button {
    border-color: rgb(37, 94, 32);
    border-radius: 5px;
    background-color: rgb(33, 209, 92);
    font-size: 25px;
}